{# templates/subscription/change_subscription.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Change Subscription{% endblock %}

{% block body %}

    {% if error is defined %}
        <div class="popup">
            <p>{{ error }}</p>
        </div>
    {% endif %}

    <div class="container">
        <h1>Change Your Subscription</h1>
        <div class="subscription-list">
            {% for subscription in subscriptions %}
                <div class="subscription{{ subscription == user.getSubscription() ? ' active' : '' }}">
                    <h2>{{ subscription.title }}</h2>
                    <p>{{ subscription.description }}</p>
                    <p>Limit: {{ subscription.pdfLimit }} PDFs</p>

                    <p>Price: ${{ subscription.price }} per month</p>
                    {% if subscription != user.getSubscription() %}
                        <form method="post" action="{{ path('subscription_change') }}">
                            <input type="hidden" name="subscriptionId" value="{{ subscription.id }}">
                            <button type="submit" class="btn btn-primary">Switch to this plan</button>
                        </form>
                    {% else %}
                        <button class="btn btn-success" disabled>Current Plan</button>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
